version: '3.4'

networks:
  frontend:
    driver: bridge
  backend:
    driver: bridge

volumes:
  postgres:
    driver: local
  adminer:
    driver: local
  redis:
    driver: local

x-database:
  &default-database
    - POSTGRES_DB=blog
    - POSTGRES_USER=blog
    - POSTGRES_PASSWORD=secret

services:

    workspace:
      container_name: blog_workspace
      build:
        context: ./docker/config/workspace
        args:
          - PHP_VERSION=7.2
          - CHROME_DRIVER_VERSION=2.32
          - NODE_VERSION=9.11.2
          - YARN_VERSION=latest
          - TZ=UTC
      volumes:
        - ./:/var/www:cached
        - ./docker/config/workspace/.aliases:/home/devsquad/.aliases
        - ./docker/data/history:/home/devsquad/history
        - ./docker/data/.ssh:/home/devsquad/.ssh
      extra_hosts:
        - "dockerhost:${YOUR_IP_ADDRESS}"
      tty: true
      environment:
        - PHP_IDE_CONFIG=serverName=devsquad-server
      networks:
        - frontend
        - backend

    php-fpm:
      restart: on-failure
      container_name: blog_php-fpm
      build:
        context: ./docker/config/php-fpm
        args:
          - PHP_VERSION=7.2
      volumes:
        - ./:/var/www:cached
      expose:
        - "${XDEBUG_PORT}"
      extra_hosts:
        - "dockerhost:${YOUR_IP_ADDRESS}"
      environment:
        - PHP_IDE_CONFIG=serverName=devsquad-server
      depends_on:
        - workspace
      networks:
        - backend

    php-worker:
      restart: on-failure
      container_name: blog_php-worker
      build:
        context: ./docker/config/php-worker
        args:
          - PHP_VERSION=7.2
      volumes:
        - ./:/var/www:cached
        - ./docker/config/php-worker/supervisord.d:/etc/supervisord.d
      depends_on:
        - workspace
      extra_hosts:
        - "dockerhost:${YOUR_IP_ADDRESS}"
      networks:
        - backend

    nginx:
      restart: on-failure
      container_name: blog_nginx
      domainname: blog.test
      build:
        context: ./docker/config/nginx
        args:
          - PHP_UPSTREAM_CONTAINER=php-fpm
          - PHP_UPSTREAM_PORT=9000
      volumes:
        - ./:/var/www:cached
        - ./docker/config/nginx/sites:/etc/nginx/sites-available
        - ./docker/data/nginx:/var/log/nginx
      ports:
        - "${HTTP_PORT}:80"
        - "${HTTPS_PORT}:443"
      depends_on:
        - php-fpm
        - adminer
      links:
        - adminer
      networks:
        - frontend
        - backend

    postgres:
      restart: on-failure
      container_name: blog_postgres
      build: ./docker/config/postgres
      volumes:
        - ./docker/data/postgres:/var/lib/postgresql/data
      ports:
        - "${PGSQL_PORT}:5432"
      environment: *default-database
      networks:
        - backend

    adminer:
      restart: on-failure
      container_name: blog_adminer
      build:
        context: ./docker/config/adminer
        args: *default-database
      depends_on:
        - php-fpm
      networks:
        - frontend
        - backend
